/*
Done by Konrad Korpik
---------------------
Location:
C:\Users\Admin\Desktop\Site\Project-Me\0_Files\Code\CSS\0_Main\StyleSheet.css
https://github.com/adknorYT/about-me/blob/master/StyleSheet.css/
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

* {
  box-sizing: border-box;
  visibility: visible;
}
body {
  background-color: #333;
  background-image: url(MainBackGround.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  visibility: visible;
  -webkit-font-smoothing: antialiased;
}
#conteiner {
 margin: 2px;
 padding: 2px;
 width: 98%;
 height: 10px;
 background-color: #333;
 position: relative;
 visibility: visible;
}
#interactive {
width: 10px;
height: 5px;
background-color: #FF8C00;
position: absolute;
visibility: visible;
}
div.all {
 display: block;
 width: 100%;
 height: auto;
 mim-height: 100%;
 visibility: visible;
}
div.left {
 display: block;
 width: 50%;
 height: auto;
 min-height: 100%;
 position: absolute;
 border: 5px solid white;
 border-radius: 20px;
 background-color: #D8D8D8;
 visibility: visible;
}
div.right {
 display: block;
 width: 50%;
 height: 100%;
 position: relative;
 background-color: #333;
 visibility: visible;
}
div.footer-icons {
 display:block;
 width: 350px;
 margin: 0 auto;
 visibility: visible;
}
div.text {
 display: block;
 width: 100%;
 background-color: #333;
 clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 75%);
 visibility: visible;
 -webkit-clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 75%);
}
div.images {
 display: inline-block;
 width: 98%;
 visibility: visible;
}
ul {
 padding: 0px;
 list-style: none;
 visibility: visible;
}
ul.icons {
 margin-top: 10px;
 text-align: center;
 visibility: visible;
}
li.icon {
 display: inline;
 height: 100px;
 vertical-align: top;
 visibility: visible;
}
a.normal:link {
 color: #FFF;
 text-decoration: none;
 visibility: visible;
}
a.normal:visited {
 color: #FFF;
 text-decoration: none;
 visibility: visible;
}
a.normal:hover {
 color: #FF8C00;
 text-decoration: none;
 transition: .5s;
 visibility: visible;
 -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
}
a.normal:active {
 color: #FF8C00;
 text-decoration: underline;
 visibility: visible;
}
a.icon {
 color: #FFF;
 text-decoration: none;
 visibility: visible;
}
img:hover {
border-color: #FF8C00;
visibility: visible;
}
img.me {
 display: block;
 max-width: 45%;
 max-height: 45%;
 border: 5px solid #333;
 border-radius: 20px;
 background-color: #333;
 visibility: visible;
}
img.gallery1 {
 width: 45%;
 height: 200px;
 margin-right: 5px;
 border: 2px solid #FFF;
 border-radius: 20px;
 float: left;
 visibility: visible;
}
img.gallery1:hover {
 border: 2px solid #FF8C00;
 border-radius: 20px;
 transition: .5s;
 visibility: visible;
 -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
}
img.gallery2 {
 width: 45%;
 height: 200px;
 border: 2px solid #FFF;
 border-radius: 20px;
 margin-left: 5px;
 float: right;
 visibility: visible;
}
img.gallery2:hover {
 border: 2px solid #FF8C00;
 border-radius: 20px;
 transition: .5s;
 visibility: visible;
 -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
}
h1 {
 text-align: center;
 margin: 1%;
 font-size: 75px;
 font-family: times;
 color: #333;
 visibility: visible;
}
h2 {
 text-align: center;
 margin: 1%;
 font-size: 30px;
 font-family: times;
 color: #333;
 visibility: visible;
}
p.about {
 margin: 0px 25px;
 text-align: center;
 font-size: 20px;
 font-family: times;
 color: #FFF;
 visibility: visible;
}
.fa-linkedin {
 padding:10px 14px;
 background-color: #322f30;
 border: 2px solid #333;
 border-radius: 20px;
 transition: .5s;
 visibility: visible;
 -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
}
.fa-linkedin:hover {
 background-color: #0073a4;
 visibility: visible;
}
.fa-facebook {
 padding:10px 14px;
 background-color: #322f30;
 border: 2px solid #333;
 border-radius: 20px;
 transition: .5s;
 visibility: visible;
 -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
}
.fa-facebook:hover {
 background-color: #3d5b99;
 visibility: visible;
}
.fa-youtube {
 padding: 10px 14px;
 background-color: #322f30;
 border: 2px solid #333;
 border-radius: 20px;
 transition: .5s;
 visibility: visible;
 -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
}
.fa-youtube:hover {
 background-color: #e64a41;
 visibility: visible;
}

@media screen and (max-width: 480px) {
 body {
  background-color: #333;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  visibility: visible;
  -webkit-font-smoothing: antialiased;
 }
 #conteiner {
  visibility: hidden;
 }
 #interactive {
  visibility: hidden;
 }
 .div-all {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 100%;
  visibility: visible;
 }
 .div-left {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 100%;
  position: absolute;
  border: 5px solid white;
  border-radius: 20px;
  background-color: #D8D8D8;
  visibility: visible;
 }
 .div-right {
  visibility: hidden;
 }
 .div-text {
  display: block;
  width: 100%;
  max-width: 100%;
  background-color: #333;
  clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 75%);
  visibility: visible;
  -webkit-clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 75%);
 }
}
